<div class="action-containers">
    <div class="search-container">
        <input type="text" [(ngModel)]="searchQuery" (ngModelChange)="onSearchQueryChange($event)"
            placeholder="Enter search query" />
        <button (click)="onSearch()">Search</button>
    </div>

    <div class="index-container">
        <input type="text" [(ngModel)]="pathToIndex" placeholder="Enter path to index" />
        <button (click)="onIndexFiles()">Start Indexing</button>
    </div>
</div>

<div class="widgets-container">
    <app-test-widget *ngIf="showTestWidget"></app-test-widget>
    <app-calculator-widget *ngIf="showCalculatorWidget"></app-calculator-widget>
    <app-python-widget *ngIf="showPythonWidget"></app-python-widget>
</div>

<div *ngIf="userMessage" class="error"> {{ userMessage }}
</div>

<div *ngIf="suggestions && suggestions.length > 0;else no_suggestions" class="suggestions-box">
    <h3>Search Suggestions</h3>
    <ul>
        <li *ngFor="let suggestion of suggestions">{{ suggestion }}</li>
    </ul>
</div>

<ng-template #no_suggestions>
    <h3>No Suggestions</h3>
</ng-template>

<div *ngIf="searchSummaries && files.length > 0" class="search-summaries-container">
  <h3>Search Summary</h3>
  <div class="summary-details">
    <div *ngIf="searchSummaries.averageFileSize > 0" class="summary-item">
      <strong>Average File Size:</strong> {{ formatBytes(searchSummaries.averageFileSize) }}
    </div>
    <div *ngIf="searchSummaries.fileTypes && searchSummaries.fileTypes.length > 0" class="summary-item">
      <strong>File Types:</strong>
      <ul class="file-type-list">
        <li *ngFor="let fileType of searchSummaries.fileTypes">
          {{ fileType.extension | uppercase }}: {{ fileType.count }}
        </li>
      </ul>
    </div>
  </div>
</div>

<table *ngIf="files.length > 0" class="file-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Path</th>
            <th>Content</th>
            <th>Relevance Score</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let file of files">
            <td>{{ file.name }}</td>
            <td>{{ file.path }}</td>
            <td [title]="file.content">{{ file.content.length > 30 ? (file.content | slice:0:30) + '...' : file.content
                }}</td>
            <td>{{ file.score }}</td>
            <!-- <td>{{ file.is_folder ? 'Yes' : 'No' }}</td> -->
        </tr>
    </tbody>
</table>

<div *ngIf="files.length === 0 && !userMessage && searchQuery && searchQuery.trim().length > 0">
    <p>No files found matching your query.</p>
</div>