<div class="action-containers">
    <div class="search-container">
        <input type="text" [(ngModel)]="searchQuery" placeholder="Enter search query" />
        <button (click)="onSearch()">Search</button>
    </div>
</div>

<div *ngIf="userMessage" class="error">
    {{ userMessage }}
</div>

<h2>Found {{files.length}} results</h2>

<table *ngIf="files.length > 0" class="file-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Path</th>
            <th>Content</th>
            <th>Is Folder</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let file of files">
            <td>{{ file.filename }}</td>
            <td>{{ file.path }}</td>
            <td>{{ file.contents.length > 30 ? (file.contents | slice:0:30) + '...' : file.contents }}</td>
            <td>{{ file.is_folder ? 'Yes' : 'No' }}</td>
        </tr>
    </tbody>
</table>